{% extends 'base.html.twig' %}

{% block title %}SMS8 - New Message{% endblock %}

{% block body %}

    {% if messageQueued %}
        <h2>Message Queued Successfully!</h2>
        <div><img width="200px" src="http://www.pngmart.com/files/3/Green-Tick-PNG-Pic.png" alt="tick"></div>
        <ul class="actions">
            <li><a href="{{ path('new_message') }}" class="button">Send Another</a></li>
        </ul>
    {% else %}
        {{ form_start(form) }}
        <div class="field">
            {{ form_errors(form.sendTo) }}
            {{ form_widget(form.sendTo, {'attr': {'placeholder': 'Phone Number'} }) }}
        </div>
        <div class="form-error">
            {{ form_errors(form.sendTo) }}
        </div>
        <div class="field">
            {{ form_widget(form.message, {'attr': {'placeholder': 'Text Message'} }) }}
        </div>
        <div class="form-error">
            {{ form_errors(form.message) }}
        </div>
        {{ form_end(form) }}

    {% endif %}
    
{% endblock %}

{% block javascript %}

{% endblock %}